AndroidClient/build/
AndroidClient/build-DimmerControl-Android/android-build/
AndroidClient/build-DimmerControl-Android/libDimmerControl.so
AndroidClient/build-DimmerControl-Android/
AndroidClient/build-DimmerControl-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/debug/qrc_qml.cpp
AndroidClient/build-DimmerControl-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/
AndroidClient/DimmerControl/DimmerControl.pro.user.3.3-pre1
